[submodule "components/M5Stack"]
	path = components/M5Stack
	url = https://github.com/m5stack/an-erd/M5Stack.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/NeoPixelBus"]
	path = components/NeoPixelBus
	url = https://github.com/Makuna/NeoPixelBus.git
